@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* 400 700 */
    /* font-size: 16px; */
   
}
@media (min-width:821px) {
    body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    }
}

/* heading
font-family: 'Poppins', sans-serif;
600 */

header{
    padding:2rem 1rem;
    background-image: url("../assets/images/bg-hero-mobile.svg");
    background-color: hsl(193, 100%, 96%);
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.header{
   display: flex;
   justify-content: space-between;
   /* justify-content: baseline; */
}
.header__logo{
    width:7rem;
}

.header__link-block{
    margin-top:-6px;
}
.header__link{
    font-size: 0.76rem;
    font-weight: 700;
    padding:.3rem 1.2rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 6px 10px -7px gray;
}

main{
    margin:4rem 1rem;
}

.header__block-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__1st-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding:1.5rem;
    margin: 5rem 0 0 0 ;
    text-align: center;
}
.header__para{
    
    text-align: center;
    padding: 1.2rem;
    font-weight: 500;
    color:  hsl(180, 13%, 5%);
    line-height: 1.5;
}
.btn{
    width:250px;
    padding:.7rem 3rem;
    border-radius: 20px;
    background-color: hsl(322, 100%, 66%);
    margin: 1rem 0 4rem 0;
    color:hsl(193, 100%, 96%);
    font-weight: 700;
    font-size: 0.8rem;
}
.header__block-2{
padding:0 1.5rem;
}

.header__img{
    width:100%;
    margin-bottom: 1rem;
}

/* main */

.section-1__img{
    width:100%;
    padding:0 1.5rem;
}

.section-1__block-1{
    padding:4rem 1.5rem;
    }

.section-1{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px 5px rgb(245, 244, 244);
}

.section-1__heading{
    text-align: center;
    font-size:1.3rem;
}

.section-1__para{
    text-align: center;
    margin:.5rem 0 0rem 0;
    padding:.8rem 2.5rem 2.5rem 2.5rem;
    font-size: .9rem;
    line-height: 1.5;
    color:hsl(208, 11%, 55%);
    font-weight: 400;
}

/* section-2 */
.section-2{
box-shadow: 1px 1px 5px 5px rgb(245, 244, 244);

}

.section-2__img{
    width:100%;
    padding:0 1.5rem;
}

.section-2__block-1{
    margin:3rem 0;
    padding:4rem 1.5rem;

}

.section-2__heading{
    text-align: center;
    font-size:1.3rem;
}

.section-2__para{
    text-align: center;
    margin:.5rem 0 0rem 0;
    padding:.8rem 2.5rem 2.5rem 2.5rem;
    font-size: .9rem;
    line-height: 1.5;
    color:hsl(208, 11%, 55%);
    font-weight: 400;
}

/* section-3 */

.section-3{
    box-shadow: 1px 1px 5px 5px rgb(245, 244, 244);
    
    }

    .section-3__img{
        width:100%;
        padding:0 1.5rem;
    }

    .section-3__heading{
        text-align: center;
        font-size:1.3rem;
    }

    .section-3__para{
        text-align: center;
        margin:.5rem 0 0rem 0;
        padding:.8rem 2.8rem 2.5rem 2.8rem;
        font-size: .9rem;
        line-height: 1.5;
        color:hsl(208, 11%, 55%);
        font-weight: 400;
    }

    .section-3__block-1{
        margin:3rem 0;
        padding:4rem 1.5rem;
    
    }
/* section-4 */
    .section-4{
        box-shadow: 1px 1px 5px 5px rgb(245, 244, 244);
        display: flex;
        flex-direction: column;
        align-items: center;
        }

  .section-4__heading{
            text-align: center;
            font-size:1.22rem;
            margin: 3rem 0 1rem 0;
          }
        
    .section-4__btn{
        width:250px;
        padding:.7rem 3rem;
        border-radius: 20px;
        background-color: hsl(322, 100%, 66%);
        margin: 1rem 0 2rem 0;
        color:hsl(193, 100%, 96%);
        font-weight: 700;
        font-size: 0.8rem;
    }

    /* footer */
    .footer{
        margin: 4rem 1rem 2rem 1rem;
        background-color:  hsl(192, 100%, 9%);
    }
    .footer__logo{
        filter:invert(1) sepia(2) contrast(1) brightness(2);
    }
    .footer__location-logo{
        width: 100px;
        height:10px;
    }