@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* 400 700 */
    font-size: 16px;
    background-image: url("../assets/images/bg-hero-mobile.svg");
    background-color: hsl(193, 100%, 96%);
}
@media (min-width:821px) {
    body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    }
}

/* heading
font-family: 'Poppins', sans-serif;
600 */

header{
    margin:2rem 1rem;
}

a{
    text-decoration: none;
}

.nav{
   display: flex;
   justify-content: space-between;
}
.nav__item--logo{
    width:6.5rem;
}

.nav__item--link{
    font-size: 0.8rem;
    font-weight: 700;
}

main{
    margin:4rem 2rem;
}

.block__1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block__1__1st__heading{
    font-size: 1.5rem;
    text-align: center;
    padding:.5rem;
    margin-bottom: 1.7rem;
    text-align: center;
}
.block__1__para{
    text-align: center;
    padding: .2rem;
}
.btn{
    width:250px;
    padding:.7rem 3rem;
    border-radius: 20px;
    background-color: hsl(322, 100%, 66%);
    margin: 2rem 0 4rem 0;
    color:hsl(193, 100%, 96%);
    font-weight: 700;
    font-size: 0.8rem;
}
.block__2__img{
    width:100%;
    margin-bottom: 1rem;
}